h1 {
  font-size: 3rem;
  color: #fec5fb;
}

h2 {
  color: #7c7c6f;
  font-size: 1.2rem;
  font-weight: 100;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem;
  font-size: 1rem;
  height: 50svh;
  img {
    width: 50%;
  }
}

.about-me-icons {
  margin-top: 20px;
  width: 40%;
  display: flex;
  gap: 20px;
}

.submit-btn {
  background: #f5722c;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4d1e05;

  &:hover {
    background: #ec5f13;
    box-shadow: inset -6px -6px 0px 0px #4d1e05;
    text-decoration: none;
    color: #fff;
  }
}

.submit-btn::before,
.submit-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.submit-btn:before {
  top: -6px;
  left: 0;

  border-top: 6px #31312f solid;
  border-bottom: 6px #31312f solid;
}

.submit-btn::after {
  left: -6px;
  top: 0;
  border-left: 6px #31312f solid;
  border-right: 6px #31312f solid;
}

@media screen and (min-width: 600px) {
  .about-me {
    padding: 4rem;
    img {
      width: 20%;
    }
  }
  .about-me-container,
  .about-me-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .about-me-icons {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {
  h1{
    font-size: 4rem;
  }

  h2{
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .about-me {
    img {
      width: 30%;
    }
  }

}

@media screen and (min-width: 1200px) {
  .about-me {
    img {
      width: 15%;
    }
  }
}
