h1 {
  font-size: 3rem;
  color: #ffa0fa;
}

h2 {
  color: #fec5fb;
  font-size: 1.6rem;
  font-weight: 100;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  img {
    width: 50%;
  }

  p {
    color: #7c7c6f;
    font-size: 1.3rem;
    text-align: left;

  }
}

.impact {
  color: #fec5fb;

  &:hover {
    color: #ffa0fa;
    text-decoration: none;
  }
}

.about-me-icons {
  margin-top: 20px;
  width: 40%;
  display: flex;
  gap: 20px;
  color: #fff;
}

@mixin button {
  background-color: #f5722c;
  display: inline-block;
  position: relative;
  text-align: center;
  box-shadow: inset -4px -4px 0px 0px #4d1e05;
  padding: 1rem;
  color: white;
}

.resume-btn {
  font-size: 1.5rem;
  padding: 1.5rem;
}

.submit-btn {
  // background: #f5722c;
  // display: inline-block;
  // position: relative;
  // text-align: center;
  @include button;
  font-size: 2rem;
  padding: 2rem;
  text-decoration: none;
  color: white;
  // box-shadow: inset -4px -4px 0px 0px #4d1e05;

  &:hover {
    background: #ec5f13;
    box-shadow: inset -6px -6px 0px 0px #4d1e05;
    text-decoration: none;
    color: #fff;
  }
}

.submit-btn::before,
.submit-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.submit-btn:before {
  top: -6px;
  left: 0;

  border-top: 6px #31312f solid;
  border-bottom: 6px #31312f solid;
}

.submit-btn::after {
  left: -6px;
  top: 0;
  border-left: 6px #31312f solid;
  border-right: 6px #31312f solid;
}

@media screen and (min-width: 600px) {
  .about-me {
    padding: 4rem;
    img {
      width: 20%;
    }
  }
  .about-me-container,
  .about-me-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .about-me-icons {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .about-me {
    img {
      width: 30%;
    }


  }

  .about-me-container {
    gap: 3rem;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .about-me {
    img {
      width: 20%;
    }

    p{
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  // .about-me {
  //   img {
  //     width: 10%;
  //   }
  // }
}
